{% extends "base.html" %} {% block title %}Game Entries{% endblock %} {% block
    content %}
<br>
<h1 align="center">Game Entries</h1>
<ul class="list-group list-group-flush" id="games">
  {% for game in games %}
  <li class="list-group-item">
      {{ game.date }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ game.game }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ game.date }}
    <button type="button" class="close" onclick="deleteGame({{ game.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
{% endblock %}