{% extends "base.html" %} {% block title %}Player Entries{% endblock %} {% block
    content %}
<br>
<h1 align="center">Player Entries</h1>
<ul class="list-group" id="players">
  {% for player in players %}
  <li class="list-group-item">

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" >
       {{ player.name }}
      </li>
      <button type="button" class="close" onclick="deletePlayer({{ player.id }})">
        <span aria-hidden="true">&times;</span>
      </button>

    </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}