{% extends "base.html" %} {% block title %}Player Entries{% endblock %} {% block
    content %}
<br>
<h1 align="center">Player Entries</h1>
<ul class="list-group list-group-flush" id="players">
  {% for player in players %}
  <li class="list-group-item">

    <ul class="nav nav-tabs">
      <a class="nav-link" id="login" href="/player/{{ player.id }}">
       {{ player.name }}
      </a>
      <button type="button" class="close" onclick="deletePlayer({{ player.id }})">
        <span aria-hidden="true">&times;</span>
      </button>

    </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}